.borderView {
	border-top: 3px solid $enem-beige;
	margin-left:0px;
	overflow:hidden;
}

.borderOne {
	border-top: 1px solid $enem-beige;
}

.borderTwo {
	border-top: 2px solid $enem-beige;
	width:100%;
	left:0px;
}

.borderThree {
	border-top: 3px solid $enem-beige;
}

.borderFour {
	border-top: 4px solid $enem-beige;
	width: 100%;
}

.borderFive {
	border-top: 5px solid $enem-beige;
}

.borderSix {
	border-top: 6px solid $enem-beige;
}

.thumb-border {
	position:absolute;
	width:100%;
	border-top: 3px solid $enem-beige;
}

.border-overflow {
	overflow:hidden;
}
