body {
	background-color:$enem-beige;
}


.wrap {
	background: $enem-white;
}


.hero { 
	height: 500px;

	.content-hero {
		padding-top:200px;
	}

	.view {
		position:relative;
		float:right;
		margin-bottom:0px;
	}
}



.beige {
	height:350px;
	background-color: $enem-beige;
	
	.intro {
		margin-top:100px;
	}
	h3 {
		line-height:2em;
	}


}

.portfolio-row {
	max-height:550px;
	min-height:550px;

		.thumb {
			overflow:hidden;
			padding:0;
			position:relative;
			height:auto;
		}

			img {
				width:100%;
				height:100%;
				object-fit:cover;
}

.top-border {
	margin-left:-1px;
	width:42px;
	padding-bottom:10px;
	border-top:2px solid $enem-beige;
	}
}

// Project Hover

.project-active {
	height:100%;
	width:100%;
	z-index:1000;
	position:absolute;
	background-color:$enem-black;
	opacity:0;
}

.proj-active-container {
	margin-top:80px;
	overflow:hidden;
	margin-left:2em;
	margin-right:2em;
	position:relative;
}

.hover {
	height:100%;
	width:100%;
}
		
.view {
	display:flex;
	align-self: center;
}
.view-reverse {
	display:flex;
	align-self: center;
	flex-direction: row-reverse
}


.viewright a, .viewleft a {
		font-family: $secondary-font;
		text-decoration:none;
		color:$enem-black;
}
	.viewright {
		margin-right:50px;
	}

	.borderOne {
		padding-bottom:5px;
		overflow:hidden;
		margin-left:2px;
	}

	.viewleft {
		margin-left:50px;
	}


// MOBILE


// iPhone 6 //
@media only screen and (min-device-width: 320px) and (orientation : portrait) { 

.viewleft {
	margin-left:6px;
	-moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
	}
.viewright {
	margin-right:6px;
	-moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}

.enemlogo {
	margin-left:-60px;
}

}
