body {
	background-color:$enem-beige;
}


.wrap {
	background: $enem-white;
}


.hero { 
	height: 500px;

	.content-hero {
		padding-top:200px;
	}

	.view {
		position:relative;
		float:right;
		margin-bottom:0px;
	}
}



.beige {
	height:350px;
	background-color: $enem-beige;
	
	.intro {
		margin-top:100px;
	}
	h3 {
		line-height:2em;
	}


}

.portfolio {
	margin-left:-80px;
	margin-right:-80px;

		.row {
		padding:0px;
		}

		.thumb {
			overflow:hidden;
			padding:0;
			position:relative;
		}

		.top-border {
			margin-left:-1px;
			width:42px;
			padding-bottom:10px;
			border-top:2px solid $enem-beige;
		}
	

	.viewright {
		margin-left:75%;
		margin-top:48%;
	}

	.borderOne {
		padding-bottom:5px;
		overflow:hidden;
		margin-left:2px;
	}

	.viewleft {
		margin-left:15%;
		margin-top:48%;
	}

}

