body {
	background-color:$enem-beige;
}


.wrap {
	background: $enem-white;
}


.hero { 
	height: 500px;

	.content-hero {
		padding-top:200px;
	}

	.view {
		position:relative;
		float:right;
		margin-bottom:0px;
		display:block;
		cursor: pointer;
	}
}



.beige {
	height:350px;
	background-color: $enem-beige;
	display:flex;
	align-items:center;
	h3 {
		line-height:2em;
		font-size:1.2em;
	}
}

.portfolio-row {
	height:550px;
		.thumb {
			overflow:hidden;
			padding:0;
			position:relative;
			height:100%;
		}

			img {
				width:100%;
				height:100%;
				object-fit:cover;
			}

			.top-border {
			margin-left:-1px;
			width:42px;
			padding-bottom:10px;
			border-top:2px solid $enem-beige 
		}

			.bottom-border {
				margin-left:-1px;
				width:0px;
				margin-top:10px;
				border-top:2px solid $enem-beige;
		}
	}

// Project Hover

.project-active {
	height:100%;
	width:100%;
	z-index:1000;
	position:absolute;
	background-color:$enem-black;
	opacity:0;
}

.proj-active-container {
	margin-top:80px;
	overflow:hidden;
	margin-left:2em;
	margin-right:2em;
	position:relative;
}

.hover {
	height:100%;
	width:100%;
}
		
.view {
	display:flex;
	align-self: center;
}

.view-work {
	width:0px;
}

.view-reverse {
	display:flex;
	align-self: center;
	flex-direction: row-reverse
}


.viewright a, .viewleft a {
		font-family: $secondary-font;
		text-decoration:none;
		color:$enem-black;
}

.viewright {
	align-self:center;
	margin-right:50px;
}
.viewleft {
	align-self:center;
	margin-left:50px;
}

.borderOne {
	padding-bottom:5px;
	overflow:hidden;
	margin-left:2px;
}




// iPhone 6 //
@media only screen and (max-width: 500px) and (orientation : portrait) { 

	.viewleft {
		margin-left:6px;
		-moz-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		}
	.viewright {
		margin-right:6px;
		-moz-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
	}

	.enemlogo {
		margin-left:-60px;
	}

	.view-work {
		padding-top:25px;
	}

	.hero	{ 
		.content-hero {
		padding-top:100px;
		}
	}

}
