// Projects

.project-hero {
	padding-top:200px;
}

.project-desc {
	margin-left:72px;
	margin-right:72px;
	padding: 100px 0px;
}

.proj-desc-fade {
	margin-top:0;
	padding-top:0;
}

.project-title {
	margin-bottom:10px;
}

.full-image {
padding:0;
margin-top:-4px;
margin-left:0;
margin-right:0;
}

.portfolio .row {
	border-bottom:1px solid #FFFFFF;
}

.portfolio img {
	height:100%;
	width:100%;
}

.image-push {
	margin-top:100px;
}

// Alignment of Non Full Width

.two-up {
	border-right:1px solid #FFFFFF;
}

@media only screen and (max-width: 736px) { 
 	.two-up {
  		border-right:0px;
  		border-bottom:1px solid #FFFFFF;
  	}
 }


.logos {
  display: flex;
  align-items: center;
  flex-direction: column;
  	.logo-align {
		 justify-content: center;
		 padding: 200px 0px;
	  }
}


// Project Background Colors


.background {
	width:100%;
}

.bod-background {
	background-color: #25272B;
}