@charset "utf-8";


@import 'flexboxgrid';
@import 'normalize';

// Variables
@import 'variables/colors';
@import 'variables/typography';

// Partials
@import 'partials/nav';
@import 'partials/footer';
@import 'partials/borders';

// Pages
@import 'enem';
@import 'home';
@import 'perception';
@import 'portfolio';
@import 'contact';


// Fonts

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');

@font-face {
  font-family: 'Novecentosanswide-Medium';
  src: url('Novecentosanswide-Medium.eot?#iefix') format('embedded-opentype'),  url('Novecentosanswide-Medium.otf')  format('opentype'),
	   url('Novecentosanswide-Medium.woff') format('woff'), url('Novecentosanswide-Medium.ttf')  format('truetype'), url('Novecentosanswide-Medium.svg#Novecentosanswide-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'novecento_sans_widenormal';
    src: url('../fonts/novecentosanswide-normal-webfont.woff2') format('woff2'),
         url('../fonts/novecentosanswide-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}