$primary-font: 	  'PT Serif', serif;
$secondary-font:  'novecento_sans_widenormal';


// Main Typography Set

p {
	font-weight:400;
	font-family: $primary-font;
	line-height:1.75em;
	padding-top:10px;
	color:$enem-black;
	font-size:18px;
}

b {
	font-family: $primary-font;
	line-height:1.5em;
	padding-top:10px;
}

h1, h2 {
	font-weight:800;
	font-family:$primary-font;
	color: $enem-black;
}

h3, h4, h5, h6 {
	font-weight:800;
	font-family: $secondary-font;
	line-height:.5em;
	letter-spacing:.3em;
	color: $enem-black;
	text-transform:lowercase;
}

// Type Sizing
h1 {
	font-size:2.25em;
}


h3 {
	font-size:1em;
}


.portfolio a{
		text-decoration:none;
		color:$enem-black;
}

.principle {
	font-weight:bold;
	font-style:oblique;

}

.goodbrand {
	font-weight:bold;
	font-style:oblique;
}

.services {
	margin-right:-4px;
	text-align:right;
}

.centered {
	text-align:center;
}

.header-fade {
	bottom:25px;
}

.text-white {
	color:#FFFFFF;
}