---
title:  BOD Creative
description:  BOD Creative is a creative agency that focuses specifically on the Commercial Real Estate Industry. Undergoing a complete visual identity overhaul, the newly designed logomark reflects the height, motion and the floors of buildings that work in tandem with the tagline “big buildings, big creative”. <br><br> A mixture of hard geometric lines and uniquely placed letter forms work to express an elite, exclusive digital agency in the CRE industry.
img:  /images/bod/bod-hero.jpg
---
<div class="container project-details-list">
<div class="row">
	<div class="col-sm-3">
		<p>Work Created At:</p>
		<h6 class="project-detail">Futureman</h6>
	</div>
	<div class="col-sm-5">
		<p>Credits</p>
		<h6 class="project-detail">peter hongisto - animation design</h6>
	</div>
	<div class="col-sm-3">
		<p>Featured In</p>
		<h6 class="project-detail">Underconsieration: fpo</h6>
	</div>
</div>
</div>
	<section class="portfolio image-push">
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/bod/bod-logo-hero.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/bod/bod-symbol.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/bod/bod-logo-blue.jpg">
			</div>
			<div class="col-xs-12 col-sm-6">
				<img src="/images/bod/bod-logo-black.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<img src="/images/bod/bod-slogan-hero.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<img src="/images/bod/bod-full-stationery.jpg">
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<div class="project-desc">
					<p>Black on black foil stamping on reversed side paired black on white foil front demands attention. Finished with a Silk lamination for the extra mile.</p>
				</div>
			</div>
		</div>
			<div class="row">
				<div class="col-lg-12">
					<img src="/images/bod/bod-business-card-full.jpg">
				</div>
			</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/bod/business-card-close.jpg">
			</div>
		</div>
			<div class="row">
			<div class="col-lg-12">
				<img src="/images/bod/bod-coffee-mug.jpg">
			</div>
		</div>
		<div class="row center-xs">
			<div class="background bod-background">
			<div class="col-xs-8">
				<img src="/images/bod/bod-animate.gif">
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/bod/bod-website-hero.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/bod/bod-website-home.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/bod/bod-project-hover.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/bod/bod-website-about.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/bod/bod-mobile-about.jpg">
			</div>
		</div>
			<div class="row">
			<div class="col-lg-12">
				<img src="/images/bod/bod-mobile-lineup.jpg">
			</div>
		</div>
	</section>