---
title:  FedEx
description: "This annual report was speaking to the story of FedEx through various keywords and call outs. The conceptual approach of a word tree, that tells a single story, through multiple chapters. It is broken up into three sections.<br><br>We are: Limitless, Rising, Over the Edge."
img:  /images/fedex/fedex-hero.jpg
---
<div class="container project-details-list">
<div class="row">
		<div class="col-sm-3">
			<p>Services:</p>
			<h6 class="project-detail">Art Direction</h6>
			<h6 class="project-detail">Package Design</h6>
		</div>
	</div>
</div>
<div class="row">
<section class="portfolio image-push">
	<div class="row">
		<div class="col-lg-12">
				<img src="/images/fedex/fedex-01.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/fedex/fedex-02.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/fedex/fedex-03.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/fedex/fedex-03.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/fedex/fedex-04.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/fedex/fedex-05.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/fedex/fedex-06.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/fedex/fedex-07.jpg">
		</div>
	</div>
</section>