---
title: "Marchetti Beauty"
description: Marchetti Beauty is the practice of an independent beauty expert servicing southeast Michigan. We were tasked with a complete overhaul of her visual identity and materials from the logo, business cards, collateral, and website.<br><br>We took inspiration from the shape of diamonds, using their precise cuts and edges to distinctive visual wordmark. We created not only 1 logo, but 5 variations that can be used interchangeably yet still fit together cohesively. In addition, instead of sticking with vibrant colors which can be commonly found within the beauty industry, we opted for a black and white palette that resonates closely with the more serious, and sophisticated brand attributes of Marchetti Beauty.


img:  ../images/marchetti-beauty/marchetti-hero.jpg
---
<div class="container project-details-list">
	<div class="row project-details-list">
		<div class="col-sm-3">
			<p>Services:</p>
			<h6 class="project-detail">Brand Identity</h6>
			<h6 class="project-detail">Brand Strategy</h6>
			<h6 class="project-detail">Web Design</h6>
			
		</div>
	</div>
</div>
	
	<div class="row">
		<section class="portfolio image-push">
		<div class="row">
				<div class="col-lg-12">
					<img src="/images/marchetti-beauty/marchetti-logo-hero.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<img src="/images/marchetti-beauty/marchetti-logo-01.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<img src="/images/marchetti-beauty/marchetti-logo-02.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<img src="/images/marchetti-beauty/marchetti-logo-03.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<img src="/images/marchetti-beauty/marchetti-logo-04.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<img src="/images/marchetti-beauty/marchetti-logo-05.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<img src="/images/marchetti-beauty/marchetti-typography.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 two-up">
					<img src="/images/marchetti-beauty/marchetti-color-left.jpg">
				</div>
				<div class="col-xs-12 col-sm-6">
					<img src="/images/marchetti-beauty/marchetti-color-right.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<img src="/images/marchetti-beauty/marchetti-business-cards.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 two-up">
					<img src="/images/marchetti-beauty/marchetti-image-hero.jpg">
				</div>
				<div class="col-xs-12 col-sm-6">
					<img src="/images/marchetti-beauty/marchetti-logo-vertical.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<img src="/images/marchetti-beauty/marchetti-logo-embossed.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<img src="/images/marchetti-beauty/marchetti-service-brochure.jpg">
				</div>
			</div>
						<div class="row">
				<div class="col-lg-12">
					<img src="/images/marchetti-beauty/marchetti-icons.jpg">
				</div>
			</div>
		</section>
	</div>