---
title:  Milk Stout 
description:  Under the guidance of our close friend, we learned to brew our own beer from scratch at the Chicago brew house known as Chaos Brew Club.<br><br>We designed the packaging to be clear, concise and sophisticated. Bold, modern typography tied with a detailed illustrative symbol demands attention in any room.
img:  /images/ms/ms-hero.jpg
---

<div class="row">
		<div class="col-sm-3">
			<p>Services:</p>
			<h6>Art Direction</h6>
			<h6>Package Design</h6>
		</div>
	</div>
<div class="row">
<section class="portfolio image-push">
	<div class="row">
		<div class="col-lg-12">
				<img src="/images/ms/ms-single.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/ms/ms-top-angle.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/ms/ms-full-lineup.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/ms/ms-jay-holding.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/ms/ms-multi-spread.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/ms/ms-close-up.jpg">
		</div>
	</div>
</section>