---
title:  Radius Agent
description: Based out of San Francisco, Radius is a referral network that connects real estate agents and helps them find qualified leads.<br><br>They approached us to design a new brand logo and icon as they worked internally through rebranding efforts. The symbol is designed around a search icon, and strategically placed cuts slightly hint of the icon inside of the circle. 


img:  /images/radius/radius-hero.jpg
---
<div class="container project-details-list">
<div class="row">
	<div class="col-sm-3">
		<p>Services</p>
		<h6 class="project-detail">Brand Identity</h6>
		<h6 class="project-detail">Icon Design</h6>
		<h6 class="project-detail">Animation Design</h6>
	</div>
</div>
</div>
	<section class="portfolio image-push">
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/radius/radius-logo-hero.jpg">
			</div>
		</div>
		<div class="row bottom-divide">
			<div class="col-lg-12">
				<img src="/images/radius/radius-inspiration.jpg">
			</div>
		</div>
		<div class="row bottom-divide">
			<div class="col-lg-12">
				<img src="/images/radius/radius-anatomy.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/radius/radius-logo.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/radius/icon-white.jpg">
			</div>
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/radius/icon-dark-grey.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/radius/icon-blue.jpg">
			</div>
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/radius/icon-black.jpg">
			</div>
		</div>
		<div class="row center-xs work-image-pad">
			<div class="col-lg-2 col-xs-4">
				<img src="/images/radius/radius-animation.gif">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/radius/iphone-icon.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/radius/radius-stamp.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/radius/radius-ad.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/radius/shirt-one.jpg">
			</div>
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/radius/shirt-two.jpg">
			</div>
		</div>
	</section>