---
title:  Radius Agent
description:  

img:  /images/radius/radius-hero.jpg
---
<div class="container project-details-list">
<div class="row">
	<div class="col-sm-3">
		<p>Services</p>
		<h6 class="project-detail">Brand Identity</h6>
		<h6 class="project-detail">Icon Design</h6>
		<h6 class="project-detail">Animation Design</h6>
	</div>
</div>
</div>
	<section class="portfolio image-push">
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/radius/radius-logo-hero.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/radius/radius-anatomy.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/radius/radius-logo.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/radius/icon-white.jpg">
			</div>
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/radius/icon-dark-grey.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/radius/icon-blue.jpg">
			</div>
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/radius/icon-black.jpg">
			</div>
		</div>
		<div class="row center-xs image-pad-desc">
			<div class="col-lg-2 col-xs-4">
				<img src="/images/radius/radius-animation.gif">
			</div>
		</div>
		<div class="row center-xs">
			<div class="col-sm-4 col-xs-8">
				<p>We developed a custom amimation sequence to be used on the App, Website and additional applicable media. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/radius/iphone-icon.jpg">
			</div>
		</div>
	</section>