---
title:  Samsung CSpire
description:  CSpire is an annual sales incentive trip for the top producers in specific markets for C-Spire, in partnership for Samsung. For the 2016 year it took place in San Juan, Puerto Rico, and we were tasked to design the wayfinding system for the event. The overall aesthetic was inspired by the vibrant and colorful buildings that flow through the city. We paired the vibrant colors together to create a mesh of beautiful eye catching gradients and 3D objects that add depth and dimension. 
img:  /images/samsung/samsung-hero.jpg
---
<div class="project-details-list">
<div class="container project-details-list">
		<div class="col-sm-3">
			<p>Services:</p>
			<h6 class="project-detail">Art Direction</h6>
			<h6 class="project-detail">Environmental Design</h6>
			<h6 class="project-detail">Wayfinding</h6>
		</div>
	</div>
</div>
<section class="portfolio image-push">
	<div class="row">
		<div class="col-lg-12">
				<img src="/images/samsung/cspire-san-juan.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-art-direction.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-large-popup.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-welcome-banner.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-transportation-banner.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-reception-banner.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-awards-dinner-banner.jpg">
		</div>
	</div>
</section>