---
title:  Samsung CSpire
description:  Under the guidance of our close friend, we learned to brew our own beer from scratch at the Chicago brew house known as Chaos Brew Club.
img:  /images/samsung/samsung-hero.jpg
---
<div class="project-details-list">
<div class="row project-details-list">
		<div class="col-sm-3">
			<p>Services:</p>
			<h6 class="project-detail">Art Direction</h6>
			<h6 class="project-detail">Environmental Design</h6>
			<h6 class="project-detail">Wayfinding</h6>
		</div>
	</div>
</div>
<div class="row">
<section class="portfolio image-push">
	<div class="row">
		<div class="col-lg-12">
				<img src="/images/samsung/cspire-san-juan.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-art-direction.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-large-popup.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-welcome-banner.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-transportation-banner.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-reception-banner.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/samsung/cspire-awards-dinner-banner.jpg">
		</div>
	</div>
</section>