---
title:  Selected Logos
description:  SAOR (Gaelic for free) is a perfume that frees your mind and spirit. Built on three core ingredients, free of alcohol and water, this subtly sensous perfume will have your senses drooling.<br><br>We designed their website as a single one page layout to channel the story of SAOR with minimal elements inspired from “free”, and paired it with an inspiring video shot in Glencoe, IL. Illustrative Gaelic elements also pays nod to the heritage of SAOR.
img:  /images/saor/saor-hero.jpg
---

<div class="row logos">
<section class="portfolio">
	<div class="row logo-align">
		<div class="col-lg-6">
				<img src="/images/logos/taxi-town.jpg">
		</div>
	</div>

	<div class="row logo-align">
		<div class="col-lg-8">
				<img src="/images/logos/uncorked.jpg">
		</div>
	</div>

	<div class="row logo-align">
		<div class="col-lg-8">
				<img src="/images/logos/100-sw.jpg">
		</div>
	</div>

	<div class="row logo-align">
		<div class="col-lg-8">
				<img src="/images/logos/cycle-chicago-main.jpg">
		</div>
	</div>

	<div class="row logo-align">
		<div class="col-lg-8">
				<img src="/images/logos/cycle-chicago-symbol.jpg">
		</div>
	</div>

	<div class="row logo-align">
		<div class="col-lg-8">
				<img src="/images/logos/occult-generation.jpg">
		</div>
	</div>
	
</section>