---
title:  The Longevity Research Institute
description:  To Write

img:  /images/lri/lri-hero.jpg
---
<div class="container project-details-list">
<div class="row">
	<div class="col-sm-3">
		<p>Services</p>
		<h6 class="project-detail">Brand Identity</h6>
		<h6 class="project-detail">Web Design</h6>
		<h6 class="project-detail">Web Development</h6>
		<h6 class="project-detail">Collateral and Print</h6>
	</div>
</div>
</div>
	<section class="portfolio image-push">
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/lri/the-lri-logo-hero.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 two-up">
				<img src="/images/lri/the-lri-logo.jpg">
			</div>
			<div class="col-xs-12 col-sm-6">
				<img src="/images/lri/the-lri-icon.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/lri/the-lri-tagline.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/lri/the-lri-typography.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/lri/the-lri-texture.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/lri/the-lri-tote-bag.jpg">
			</div>
		</div>
	</section>