---
title: "Vellabox"
description: Vellabox is the ultimate comfort experience for candle lovers. Subscribers get the perfect combination of the highest quality candles and handpicked products that complement their candle – Non-toxic, lead free, hand poured, from the best companies in the country. From the finest American artisans to you every month. <br><br>We revamped their homepage design and copy having in mind the millennial lifestyle. Our focus was to enhance and reflect their high-quality products giving a snapshot of all their subscription levels in a single page layout. While design played a key role, we worked closely with Vellabox to develop a new set of subscription level names that were unique and captivating.

img:  /images/vellabox/vellabox-hero.jpg
---
<div class="container project-details-list">
	<div class="row project-details-list">
		<div class="col-sm-3">
			<p>Services:</p>
			<h6 class="project-detail">Creative Direction</h6>
			<h6 class="project-detail">Web Design</h6>
			<h6 class="project-detail">Copywriting</h6>
			<h6 class="project-detail">Video Production</h6>
			<h6 class="project-detail">Photography</h6>
		</div>
		<div class="col-sm-5">
			<p>Credits</p>
			<h6 class="project-detail">peter hongisto - CINEMATOGRAPHY + EDITING</h6>
		</div>
	</div>
</div>

<div class="row">
	<section class="portfolio image-push">
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/vellabox/vellabox-desktop-hero.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/vellabox/vellabox-all-devices.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/vellabox/vellabox-full-homepage.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/vellabox/vellabox-mobile-live.jpg">
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="project-desc">
						<p>While developing the overal art direction, we also re-thought the susbcription names. Inspired from Latin words, each
							one has their own unique tone and voice. To break the mold of the clean typography, we opted for Scripted style that
							adds movement personality. </p>
					</div>
				</div>
			 </div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<img src="/images/vellabox/vellabox-lucerna.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/vellabox/vellabox-ignis.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/vellabox/vellabox-vivere.jpg">
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="project-desc">
						<p>We also directed, shot and edited a short 60 second video to express the "Vellabox" experience. Placed in the hero, the video lapse's through receiving the candle, the "first open", and falling into pure relaxation. </p>
					</div>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/vellabox/video-shoot-one.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 two-up">
				<img src="/images/vellabox/video-shoot-two.jpg">
			</div>
			<div class="col-sm-6">
				<img src="/images/vellabox/video-shoot-three.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 videoWrapper">
				<iframe src="https://player.vimeo.com/video/157977848" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
</div>
</section>
</div>