---
title:  Wabi Sabi Beauty
description:  Located in the Mission District of San Francisco, CA, Wabi Sabi Beauty prides itself being a 100% eco-conscious hair and wellness studio and provides with a holistic approach to premium hair beauty and services.<br><br>We approached the design to reflect those values, focusing on minimalism and use of clean space throughout the site. Limited color palette along with diligent use of images and iconography keeps the clutter low and content legible. The clean spatial look also gives Wabi Sabi a premium look.
img:  /images/wsb/wsb-hero.jpg
---
<div class="container project-details-list">
<div class="row">
	<div class="col-sm-3">
		<p>Services:</p>
		<h6 class="project-detail">Web Design</h6>
        <h6 class="project-detail">Web Development</h6>
	</div>
</div>
</div>
<div class="row">
	<section class="portfolio image-push">
	
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-all-devices.jpg">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-homepage-full.jpg">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-mobile-trio-profile.jpg">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-bio-full.jpg">
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-mobile-homepage-home.jpg">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-studio-full.jpg">
			</div>
		</div>

		</div>
	</section>