---
title:  Wabi Sabi Beauty
description:  BOD Creative is a creative agency that focuses specifically on the Commercial Real Estate Industry. Undergoing a complete visual identity overhaul, the newly designed logomark reflects the height, motion and the floors of buildings that work in tandem with the tagline “big buildings, big creative”. <br><br> A mixture of hard geometric lines and uniquely placed letter forms work to express an elite, exclusive digital agency in the CRE industry.
img:  /images/wsb/wsb-hero.jpg
---
<div class="container project-details-list">
<div class="row">
	<div class="col-sm-3">
		<p>Services:</p>
		<h6 class="project-detail">Web Design</h6>
        <h6 class="project-detail">Web Development</h6>
	</div>
</div>
</div>
<div class="row">
	<section class="portfolio image-push">
	
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-all-devices.jpg">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-homepage-full.jpg">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-mobile-trio-profile.jpg">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-bio-full.jpg">
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-mobile-homepage-home.jpg">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<img src="/images/wsb/wsb-studio-full.jpg">
			</div>
		</div>

		</div>
	</section>