---
title:  William Pacholski
description:  William Pacholski is a psychic who believes in it’s transformative power. As a psychic, he creates space and transforms reality through a variety of classes and workshops. <br><br>We designed his logo to reflect the idea of “Creating Space”. Inspired from constellations, we used expressive typography spaced diligently, with angular lines to give it openness and space. We paired his mark with a selection of gradient color palettes that portray a friendly and energetic vibe.
img:  /images/bp/bp-hero.jpg
---

<div class="row">
		<div class="col-sm-4">
			<p>Services</p>
			<h6>BRAND IDENTITY</h6>
			<h6>ICONOGRAPY</h6>
			<h6>SIGNAGE</h6>
		</div>
		<div class="col-sm-6">
			<p>Credits</p>
			<h6>peter hongisto - animation design</h6>
			<h6>myles hundley - 3d modeling/animation</h6>
		</div>
	</div>
<div class="row">
<section class="portfolio">
	<div class="row">
		<div class="col-lg-12">
				<img src="/images/bp/bp-logo-01.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/bp/bp-symbol-02.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/bp/bp-color-03.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/bp/bp-colors-04.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/bp/bp-bcard-05.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="project-desc">
				<p>Furthering the brand identity, we designed a one of a kind foil stamp business card. Duplexed Neenah Epic Black Eggshell paper created a durable, tactile feel. We paired it with Egyption Gold, and Black Liqourice Foil. </p>
			</div>
		</div>
	</div>
	<div class="row full-image">
		<div class="col-sm-6 full-image">
			<img src="/images/bp/bp-bcard-06.jpg">
		</div>
		<div class="col-sm-6 full-image">
			<img src="/images/bp/bp-bcard-07.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/bp/bp-class-symbols-08.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/bp/bp-flyer-09.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<img src="/images/bp/bp-flyer-10.jpg">
		</div>
	</div>
</section>