<div class="container-fluid footer">
	<div class="row footer-full">
		<div class="col-sm-6">
			<h1>Contact</h1>
			<p>inquire@enemcreative.com</p>
		</div>
		<div class="col-sm-6">
			<h1>Social</h1>
			<a href="https://twitter.com/enemstudio">Twitter</a>    |     <a href="https://www.facebook.com/enemcreative/"> Facebook</a>     |     <a href="https://www.instagram.com/enemstudio/">Instagram</a>
		</div>
	</div>
	<div class="row end-sm">
		<div class="col-sm-6">
			<div class="box">
				<p>Copyright 2016 ENEM Creative</p><a href="#">Extars</a>
			</div>
		</div>
	</div>
</div>