<div class="loading"></div>
<div class="background"></div>
<div class="wrap container-fluid">
	<header>
		<div class="header-wrap">
			<div class="header middle">
				<div class="row navigation-padding">
					<div class="col-md-6 col-xs-6">
						<div class="box">
							<div class="enemlogo nav-load">
							<a href="/index.html">	
								<img class="shrink" src="/images/enem.svg">
							</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-6">
						<nav>
							<div class="mobile-menu">
								<ul class="menu-transition">
									<div class="menu-active">
										<li>MENU</li>
										<li>CLOSE</li>
									</div>
								</ul>
							</div>
							<ul class="mobile-menu-panel">
								<li class="element nav-load">
									<li class="menu-link">
										<%= link_to 'Home', '/index.html' %>
									</li>
									<li class="menu-link">
										<%= link_to 'Perception', '/perception.html' %>
									</li>
									<li class="menu-link">
										<%= link_to 'Contact', '/contact.html' %>
									</li>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="sticky-border">
				</div>
	</header>
	</div>
	</div>