<div class="loading"></div>
<div class="background"></div>
<div class="wrap container-fluid">
	<header>
		<div class="header-wrap">
			<div class="header middle">
				<div class="row navigation-padding">
					<div class="col-md-6 col-sm-6">
						<div class="box">
							<div class="enemlogo nav-load">
								<img class="shrink" src="/images/enem.svg">
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<nav>
							<ul>
								<li class="element nav-load">
									<li><%= link_to 'Home', '/index.html' %></li>
									<li><%= link_to 'Perception', '/perception.html' %></li>
									<li><%= link_to 'Contact', '/contact.html' %></li>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
	</header>
	</div>
</div>