    <!-- Let's Work -->
<div class="wrap container-fluid lets-work">
        <div class="row center-xs">
            <div class="borderThree border-black">
                <h3 class="work-link">
                    <%= link_to "Project Inquiry", '/contact.html' %>
            </div>
        </div>
</div>