--- 
layout: "default" 
---
<div class="wrap container-fluid">
<div class="container">
    <div class="hero">
        <div class="content-hero">
            <div class="row">
                <div class="col-md-6 col-sm-6 padfixleft border-overflow">
                    <div class="borderFour"></div>
                    <h1 class="header-fade">Perception</h1>
                </div>
                <div class="col-sm-6">
                    <div class="perc-main image-overflow">
                        <img src="/images/perception-hero.jpg" class="perc-hero">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mission -->
    <div class="row mission-row mission-trigger">
        <div class="col-sm-6 border-overflow padfixleft">
            <div class="borderSix mission-one-bd"></div>
            <h4 class="mission-one"> 01</h4>
            <h4 class="bottom-border mission-two">MISSION</h4>
            <div class="borderSix mission-two-bd mission"></div>
        </div>
        <div class="col-sm-6 border-overflow padfixright">
            <div class="borderThree mission-three-bd"></div>
            <p class="text-fade">We’re a design and marketing duo in the windy city, and we’re here to show you what you might not see, and we
                learn from you on what we do not know. We believe in partnerships, and strive on collaboration to deliver
                meaningful brand experiences that stand out in a dense crowd. We’ll pull from your experience and knowledge
                as much as you pull from ours. We’ll be honest and forthcoming, challenge ideas and thoughts, and transform
                your brand and business through well crafted and innovative design solutions.</p>
        </div>
        <div class="pad">
        </div>
    </div>
 <!-- Partners -->
<div class="wrap container-fluid partners">
<!-- 	<img src="/images/partners.jpg"> -->
	<div class="row team">
	</div>
</div>   

    <!-- Idealogy -->
    <div class="pad"></div>
    <div class="row ideology-trigger">
        <div class="col-sm-6 border-overflow padfixleft">
            <div class="borderThree ideo-one-bd"></div>
            <h4 class="ideo-title-one">02</h4>
            <h4 class="ideo-title-two">IDEOLOGY</h4>
            <div class="borderThree ideo-two-bd ideology"></div>
        </div>
        <div class="col-sm-6 border-overflow padfixright">
            <div class="borderOne ideo-three-bd"></div>
            <p class="ideology-text-fade"><span class="goodbrand">A Good Brand.
</span></p>
            <p class="ideology-text-fade">It has purpose and it stands out. It’s what you stand for and act upon. A promise. An unforgettable experience
                that ignites senses, actions and loyalty for and from your consumers.</p>
            <p class="ideology-text-fade">We thrive with businesses and people who share the same passion to raise the bar. We aspire to not only do good
                creative work, but to build good products and services that have a positive impact on people.</p>
        </div>
        <div class="pad">
        </div>
    </div>

    <div class="row gp-trigger">
        <div class="col-sm-3">
            <div class="fistbump image-overflow">
                <img src="/images/fistbump.jpg" class="fistbump-hero">
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-6 border-overflow">
            <div class="borderSix gp-one-bd"></div>
            <h4 class="gp-title-one">03</h4>
            <h4 class="gp-title-two">GUIDING PRINCIPLES</h4>
            <div class="borderThree gp-two-bd guiding-principles"></div>
            <div class="col-sm-6 padfixleft">
                <p class="gp-text-fade"><span class="principle">Sweat — </span>No detail is to small, everything matters.</p>
                <p class="gp-text-fade"><span class="principle">Craftsmanship — </span>No detail is to small, everything matters.</p>
                <p class="gp-text-fade"><span class="principle">People — </span>No detail is to small, everything matters.</p>
            </div>
            <div class="pad">
            </div>
        </div>
    </div>

    <!-- Capabilities -->
    <div class="pad"></div>
    <div class="row">
        <div class="col-sm-8 borderThree padfixleft">
            <h4> 01</h4>
            <h4 class="bottom-border">CAPABLITIES</h4>
            <div class="borderTwo capabilities"></div>
        </div>
        <div class="col-sm-4 borderThree padfixright">
            <h4 class="services">+ services</h4>
        </div>
    </div>
    <div class="pad"></div>
    <div class="row">
        <div class="col-sm-6 padfixleft">
            <ul class="core">
                <li><img src="/images/icon-temp.png" class=service-icon> brand identity</li>
                <li><img src="/images/icon-temp.png"> web design</li>
                <li><img src="/images/icon-temp.png"> print</li>
                <li><img src="/images/icon-temp.png"> marketing</li>
            </ul>
        </div>
        <div class="col-sm-3 padfixright">
            <ul class="service-list">
                <li>Brand Identity —</li>
                <li>Packaging —</li>
                <li>Signage —</li>
                <li>Stationery Systems —</li>
                <li>Annual Reports —</li>
            </ul>
        </div>
        <div class="col-sm-3 padfixright">
            <ul class="service-list">
                <li>Website Design —</li>
                <li>Photography —</li>
                <li>Books & Catalogs —</li>
                <li>Videography —</li>
                <li>Copywriting —</li>
            </ul>
        </div>
    </div>
    <div class="pad"></div>
    <div class="pad"></div>
</div>

<!-- Let's Work -->
<div class="wrap container-fluid lets-work">
    <div class="row center-xs">
        <div class="borderThree">
            <h3><a href="contact.html">LET'S WORK</a></h3>
        </div>
    </div>
</div>
</div>
</div>