--- 
layout: "default" 
---
<div class="wrap container-fluid">
    <div class="container">
        <div class="hero">
            <div class="content-hero">
                <div class="row">
                    <div class="col-md-6 col-sm-6 padfixleft border-overflow">
                        <div class="borderFour"></div>
                        <h1 class="header-fade">Our Studio</h1>
                    </div>
                    <div class="col-sm-6">
                        <div class="perc-main image-overflow">
                            <img src="/images/perception-hero.jpg" class="perc-hero">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mission -->
        <div class="row mission-row mission-trigger">
            <div class="col-sm-6 border-overflow padfixleft">
                <div class="borderSix mission-one-bd"></div>
                <h4 class="mission-one"> 01</h4>
                <h4 class="bottom-border mission-two">MISSION</h4>
                <div class="borderSix mission-two-bd mission"></div>
            </div>
            <div class="col-sm-6 border-overflow padfixright">
                <div class="borderThree mission-three-bd"></div>
                <p class="text-fade">We’re a design and marketing duo in the windy city, and we’re here to show you what you might not see, and
                    we learn from you on what we do not know. We believe in partnerships, and strive on collaboration to
                    deliver meaningful brand experiences that stand out in a dense crowd. We’ll pull from your experience
                    and knowledge as much as you pull from ours. We’ll be honest and forthcoming, challenge ideas and thoughts,
                    and transform your brand and business through well crafted and innovative design solutions.</p>
            </div>
            <div class="pad">
            </div>
        </div>
    </div>
</div>

        <!-- Partners -->
<div class="wrap container-fluid partners"></div>

<div class="wrap container-fluid">
    <div class="container">
        <!-- Idealogy -->
                <div class="pad"></div>
            <div class="row ideology-trigger">
                <div class="col-sm-6 border-overflow padfixleft">
                    <div class="borderThree ideo-one-bd"></div>
                    <h4 class="ideo-title-one">02</h4>
                    <h4 class="ideo-title-two">IDEOLOGY</h4>
                    <div class="borderThree ideo-two-bd ideology"></div>
                </div>
                <div class="col-sm-6 border-overflow padfixright">
                    <div class="borderOne ideo-three-bd"></div>
                    <p class="ideology-text-fade"><span class="goodbrand">A Good Brand.</span></p>
                    <p class="ideology-text-fade">It has purpose and it stands out. It’s what you stand for and act upon. A promise. An unforgettable experience
                        that ignites senses, actions and loyalty for and from your consumers.</p>
                    <p class="ideology-text-fade">We thrive with businesses and people who share the same passion to raise the bar. We aspire to not only do
                        good creative work, but to build good products and services that have a positive impact on people.</p>
                </div>
                <div class="pad"> </div>
            </div>

        <div class="row gp-trigger">
            <div class="col-sm-3">
                <div class="fistbump image-overflow">
                    <img src="/images/fistbump.jpg" class="fistbump-hero">
                </div>
            </div>
            <div class="col-sm-offset-3 col-sm-6 border-overflow">
                <div class="borderSix gp-one-bd"></div>
                <h4 class="gp-title-one">03</h4>
                <h4 class="gp-title-two">GUIDING PRINCIPLES</h4>
                <div class="borderThree gp-two-bd guiding-principles"></div>
                <div class="col-sm-6 padfixleft">
                    <p class="gp-text-fade"><span class="principle">Sweat — </span>No detail is to small, everything matters.</p>
                    <p class="gp-text-fade"><span class="principle">Craftsmanship — </span>No detail is to small, everything matters.</p>
                    <p class="gp-text-fade"><span class="principle">People — </span>We work with good people, and have a good time.</p>
                </div>
                <div class="pad mobile-pad">
                </div>
            </div>
        </div>

        <!-- Capabilities -->
        <div class="pad mobile-pad"></div>
        <div class="row cp-trigger border-overflow">
            <div class="col-sm-8 col-xs-6 padfixleft">
                <div class="borderThree cp-one-bd"></div>
                <h4 class="cp-title-one"> 01</h4>
                <h4 class="bottom-border cp-title-two">CAPABLITIES</h4>
                <div class="borderTwo capabilities cp-two-bd"></div>
            </div>
            <div class="col-sm-4 col-xs-6 padfixright">
                <div class="borderThree cp-three-bd"></div>
                <h4 class="services cp-title-three">+ services</h4>
            </div>
        </div>
        <div class="pad mobile-pad"></div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 padfixleft">
                <ul class="core">
                    <li>brand identity</li>
                    <li>web design</li>
                    <li>print</li>
                    <li>marketing</li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-6 padfixright">
                <ul class="service-list">
                    <li>Brand Identity <span class="service-dash">—<span></li>
                    <li>Packaging <span class="service-dash">—<span></li>
                    <li>Signage <span class="service-dash">—<span></li>
                    <li>Stationery Systems <span class="service-dash">—<span></li>
                    <li>Annual Reports <span class="service-dash">—<span></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-6 padfixright">
                <ul class="service-list">
                    <li>Website Design <span class="service-dash">—<span></li>
                    <li>Photography <span class="service-dash">—<span></li>
                    <li>Books & Catalogs <span class="service-dash">—<span></li>
                    <li>Videography <span class="service-dash">—<span></li>
                    <li>Copywriting <span class="service-dash">—<span></li>
                </ul>
            </div>
        </div>
        <div class="pad"></div>
        </div>
    </div>
</div>
